---
---
$enable-gradients:true;
@import "bootstrap/bootstrap";
@import "header";
@import "nav";
@import "cv";
@import "projects";

html {
  scroll-behavior: smooth;
}

.header{
  background-image: url({{site.baseurl}}/images/cover.jpg);
}

.section{
  position:relative;
}

.section h2.title {
  padding-top: 10px;
}

.section h2[id].title {
  margin-top: -80px;
  padding-top: 80px;
  position: absolute;
}

.details {
  text-align: justify;
  padding-bottom: 10px;
  @include media-breakpoint-down(sm) {
    text-align: unset;
  }
}

.container-404{

}

.container-404 .group1{
  text-align: right;
  max-height: 40vh;
  overflow: hidden;
  @include media-breakpoint-down(sm){
    text-align: center;
  }
}

.container-404 .group1 img{
  max-height: 40vh;
}

.container-404 .group2{
  text-align: left;
  @include media-breakpoint-down(sm){
    text-align: center;
  }
}

.container-404 .group2 a:hover{
  text-color: white;
}