html, body{
	height: 100%;
	min-height: 100%;
}

body{
	position:relative;
	padding-top: 50px;
}

/*Loading*/
#loader .container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  color:white;
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.updateStatus{
	position: absolute;
	color:white;
	width: 100%;
	text-align:center;
	top: 300%;
	line-height:1;
	padding-top:10px;
}

.updateStatus > p{
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
/*loading*/

.border-radius(@radius){
    .border-top-radius(@radius);
    .border-right-radius(@radius);
    .border-bottom-radius(@radius);
    .border-left-radius(@radius);
}

.wrapper {
   border-radius: 5px;
}

.container-table {
    display: table;
	width:100%;
	min-height:100%;
	table-layout: fixed;
}
.valign {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
	width:100%;
}

.effect1{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;	
	background-image:url('../img/effect.png');
}

.effect2{
	z-index:0;
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:url('../img/slide1_texture.jpg');
	background-size: cover !important;
	background-attachment: fixed !important;
	opacity:0.5;
}

.effect3{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:url('../img/effect3.png')
}

#landingPage{
	background-image:url('../img/slide1_bg.jpg');
	background-size: cover !important;
	background-attachment: fixed !important;
	width:100%;
	text-align:center;
	color: white;
	height:100vh;
	min-height:100%;
}

#landingPage h1{
	font-size: 4em;
	font-color:red;
}

#aboutMe{
	position:relative;
	background-image:url('../img/aboutMe_bg.jpg');
	width:100%;
	padding: 50px;
	padding-bottom:100px;
}

#aboutMe h2{
	color: black;
} 

#academics{
	position:relative;
	background-image:url('../img/slide2_bg.jpg');
	background-size: cover !important;
	background-attachment: fixed !important;
	width:100%;
	text-align:center;
}

#academics h1{
	color:white;
}

#academics h1 i{
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30eg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
	margin-right:-10px;
	font-size:40px;
}

#academics ul{
	padding: 20px;
	text-align: justify;
    text-justify: inter-word;
}

#skills{
	padding:50px;
	background-image:url('../img/pattern1.png');
}

#skills h1{
	text-align:center;
	color:white;
}

#skills .progress-bar{
	color:black;
	font-weight:700;
	text-align:left;
	padding-left: 10px;
}


#workExperience{
	position:relative;
	background-image:url('../img/slide3_bg.jpg');
	background-size: cover !important;
	background-attachment: fixed !important;
	width:100%;
	text-align:center;
}

#projects{
	text-align:center;
	padding-bottom: 20px;
}


#projects h1{
	color:black;
}

#pors{
	position:relative;
	background-image:url('../img/mic-1.jpg');
	background-size: cover !important;
	background-attachment: fixed !important;
	width:100%;
	text-align:center;
}

#pors [class^='col']{
	padding:5px;
}

#pors h1{
	color: white;
	text-shadow: 0 0 20px rgb(93, 76, 56);
}

#pors .tile{
	background-color: #AB7A3A;
}

#extraCurriculars{
	background-image:url('../img/extra.png');	
	text-align: center;
	padding:50px;
}

#extraCurriculars .page-header{
	border-bottom: 1px solid gray;
}
#extraCurriculars h2, ul{
	text-align:justify !important;
}

.text-center{
	text-align:center !important;
}