{% assign items = include.data %}


<div class="row cventry">
    {% for item in items %}
    {% if include.type == "position" %}
    <div class="position col-12 col-md-9">
        <h5>{{item.position}}</h5>
        {% if item.institution %}<h6>{{item.institution}}</h6>{% endif %}
    </div>
    <div class="position-meta col-12 col-md-3 text-muted">
        {% if item.startDate or item.endDate %}
        <h6>{% if item.startDate %} {{ item.startDate }} - {% endif %} {% if item.endDate %} {{ item.endDate }} {% endif %}</h6>
        {% endif %}
        <h6>{{item.location}}</h6>
    </div>
    {% else if include.type == "project" %}
    <div class="position col-12">
        <h6>{{item.title}}</h6>
        {% if item.subtitle %}<h6 class="text-muted">{{item.subtitle}}</h6>{% endif %}
    </div>
    {% endif %}
    {% if item.description %}
    <div class="details col-12">
        {{ item.description }}
    </div>
    {% endif %}
    {% if item.highlights %}
    <div class="details col-12">
        <ul> {% for highlight in item.highlights %}
            <li>
                {{ highlight }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>
