body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title-header {
    padding: 10px;
    background-color: rgba(68, 68, 68, 0.55);
    background-image: url(http://www.codingforums.com/attachments/html-and-css/10389d1318642535-how-make-feature-background-strip-css-bokeh-banner-jpg);
    /* background-size: contain; */
    background-blend-mode: color;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

.justify{
    text-align:justify;
}


